[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "smoke"]
	path = smoke
	url = https://github.com/cran/smoke
[submodule "xtal"]
	path = xtal
	url = https://github.com/cran/xtal
